
h1 {
  display: block;
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin: 0.83em 0;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin: 1em 0;
  font-weight: bold;
}
h4 {
  display: block;
  font-size: 1em;
  margin: 1.33em 0;
  font-weight: bold;
}

#light {
  background-color: ghostwhite;
}
#dark {
  background-color: #30404f;
}