#light {
  background-color: var(--color-background);
  color: var(--text-primary)
}
#light button {
  background-color: var(--color-button);
}

#dark button {
  background-color: var(--color-button);
}

#dark {
  background-color: var(--color-background);
  color: var(--text-primary)
}

h1 {
  display: block;
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin: 0.83em 0;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin: 1em 0;
  font-weight: bold;
}
h4 {
  display: block;
  font-size: 1em;
  margin: 1.33em 0;
  font-weight: bold;
}
