.card-wrapper {
  cursor: pointer;
}
.card-pokemon{
  width: var(--card-width);
  height: var(--card-height);
  font-size: 12px;
  padding: 5px 20px;
  margin: auto;
  border-radius: 5px;
}

.card-pokemon {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}



#light .card-pokemon {
  background-color: var(--color-background-card);
}
#dark .card-pokemon {
  background-color: var(--color-background-card);
}

.card-pokemon img {
  order: 1;
}
.card-pokemon .pokemon-name{
  order:3;
}

.card-pokemon .pokemon-id {
  order:2;
  font-family: "Flexo-Bold",arial,sans-serif;
  color: #919191;
  font-size: 80%;
  padding-top: 2px

}

.card-types {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  order:4;
}

.card-types span {
  font-size: 12px;
  padding: 5px 20px;
  border-radius: 5px;
  color: #fff;
}

/* Types of PokemonList */
.water {
  background-color: var(--color-water);
}

.grass {
  background-color: var(--color-grass);
}

.poison {
  background-color: var(--color-poison);
}

.fire {
  background-color: var(--color-fire);
}

.bug {
  background-color: var(--color-bug);
}

.dragon {
  background: var(--color-dragon);
}

.flying {
  background-color: var(--color-flying);
}

.ground {
  background-color: var(--color-ground);
}

.steel {
  background-color: var(--color-steel);
}

.psychic {
  background-color: var(--color-psychic);
}

.ice {
  background-color: var(--color-ice);
}

.ghost {
  background-color: var(--color-ghost);
}

.normal {
  background-color: var(--color-normal);
}

.rock {
  background-color: var(--color-rock);
}

.electric {
  background-color: var(--color-electric);
}

.fighting {
  background-color: var(--color-fighting);
}

.fairy {
  background-color: var(--color-fairy);
}

.dark {
  background-color: var(--color-dark);
}