.detail-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.detail-wrapper img {
  width: var(--img-width-details);
  height: var(--img-height-details);
}

.detail-card-background {
  background: linear-gradient(to right,#7b62a3, #0075BE);
}

.button-wrapper{
  display: flex;
  position: absolute;
  left: 0;
  top:0;
  margin: 1rem;

}
.detail-pokemon-name {
  text-align: center;
}