.search-bar button {
  background-color: var(--color-button);
  color: var(--color-button-text);
  border-radius: 25px;
  font-family: inherit;
  padding: 5px 15px;
  margin: 0.5rem;
  font-size: var(--font-size-button);
}

.search-bar button:hover {
  background-color: var(--color-button-hover);
  border-radius: 25px;
}

.search-bar {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.input-search {
  width: 50%;
  height: 20px;
  font-size: var(--font-size);
}