@font-face {
  font-family: "Regular";
  src: local("Poppins-Regular"),
  url("assets/fonts/Poppins-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 20px;
}
